<div class="conatiner">
    <h2>Complete List of Employees</h2>
    <table>
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Expenses</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeData; let i = index">
                <td>{{employee.employeeName}}</td>
                <td>{{employee.contact}}</td>
                <td>{{employee.Address}}</td>
                <td>{{getTotalExpanse(employee)}}</td>
                <td>
                    <button (click)="editEmployee(i)">Edit</button>
                    <button (click)="deleteEmployee(i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
