<h2>Edit Employee</h2>

<form>
    <div>
        <label for="employeeName">Name:</label>
        <input type="text" id="employeeName" name="employeeName" [value]="employee?.employeeName"
            (input)="onFieldChange($event)">
        <label for="contact">Contact:</label>
        <input type="text" id="contact" name="contact" [value]="employee?.contact" (input)="onFieldChange($event)">
        <label for="Address">Address:</label>
        <textarea name="Address" id="Address" cols="5" rows="1" [value]="employee?.Address"
            (input)="onFieldChange($event)"></textarea>
        <label for="Gender">Select Gender</label>
        <select *ngIf="employee?.Gender.includes('Male')" id="Gender" name="Gender"
            (change)="onGenderTypeChange($event, employee)">
            <option [value]="employee?.Gender"> {{employee?.Gender}}</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <select *ngIf="employee?.Gender.includes('Female')" id="Gender" name="Gender"
            (change)="onGenderTypeChange($event, employee)">
            <option [value]="employee?.Gender"> {{employee?.Gender}}</option>
            <option value="Male">Male</option>
            <option value="Other">Other</option>
        </select>
        <select *ngIf="employee?.Gender.includes('Other')" id="Gender" name="Gender"
            (change)="onGenderTypeChange($event, employee)">
            <option [value]="employee?.Gender"> {{employee?.Gender}}</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

        
    </div>
    <button type="button" (click)="onSave()">Save</button>
</form>